 .studentsContainer {
  
}

.student__blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*ФОРМА СТУДЕНТЫ*/
.studentsList {
    margin-left: 50px;
    flex-direction: column;
    display: flex;
    width: 400px;   
}

.studentsForm {
    display: flex;
    max-width: 330px;
    gap: 15px;
    border-radius: 5px;
    padding-left: 10px;
}

.studentsBtn {
    margin-top: 15px;
    max-width: 330px;
    border-radius: 5px;
    background-color: rgb(109, 130, 253);

}



.studentsBtn:hover {
    background-color: rgb(219, 219, 253);
    transition: 0.5s;
}

.studentsBtn:active {
    background-color: rgb(64, 64, 241);
    transition: 0.1s;
}

.studentsTable {
    
}

.deleteBtn {
    background-color: rgb(109, 130, 253);
    border-radius: 5px;
}

.deleteBtn:hover {
    background-color: rgb(219, 219, 253);
    transition: 0.5s;
}

.deleteBtn:active {
    background-color: rgb(64, 64, 241);
    transition: 0.1s;
}


/*ФОРМА ФИЛЬТР*/

.studentsFilter {
    flex-direction: column;
    display: flex;
    width: 400px;   
}

/* ТАБЛИЦА */

.studentsCell {
width: 200px;
font-weight: 300;
border: 1px solid #bbb7b7;
border-collapse: collapse;


}

.studentsCellHead {
    width: 200px;
    font-weight: 500;
    border: 1px solid #bbb7b7;
    border-collapse: collapse; 
}





.studentsCellNumber{
   
    width: 40px;
    font-weight: 300;
    border: 1px solid #bbb7b7;
    border-collapse: collapse;
}


.studentsFormError {
    margin: 0;
    padding: 0;
    color: white;
}

.studentsFormError__active {
    margin: 0;
    padding: 0;
    color: red;
}


.sortCell__name {

}


.thead__dark {
    background-color: rgb(174, 156, 240);
}

.studentsCellHead__name {

}

.studentsCellHead__name:active {
background-color: rgb(204, 204, 238);
transition: 0.1s;
}

.studentsCellHead__name:hover {
    cursor: crosshair;
}


.studentsCellNumberHead:hover  {
    cursor: crosshair;
}

.studentsCellNumberHead:active  {
    background-color: rgb(204, 204, 238);
transition: 0.1s;
}


.studentsCellHead:hover {
    cursor: crosshair;
}

.studentsCellHead:active {
    background-color: rgb(204, 204, 238);
transition: 0.1s;
}


.studentsCellHead__number {
    width: 40px;
    font-weight: 500;
    border-right: 1px solid #dee2e6;  
}

.studentsCellHead__number:active  {
    background-color: rgb(204, 204, 238);
transition: 0.1s;
} 

.studentsCellHead__number:hover {
    cursor: crosshair;
} 

.not_valid {
    
}