html {
  border-style: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --yellow-color: #CC9933;
  --black-color: #333333;
  --white-color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  min-width: 1200px;
  background-color: #E5E5E5;
}

/* common */



.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* fonts */

@font-face {
  font-family: "Muller";
  src: local("MullerLight"),
    url("../fonts/MullerLight.woff2") format(".woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Mullerregular"),
    url("../fonts/MullerRegular.woff2") format(".woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"),
    url("../fonts/MullerMedium.woff2") format(".woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"),
    url("../fonts/MullerBold.woff2") format(".woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


/* header */

.header-top {
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.header-tel {
  margin-right: auto;
  margin-left: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  border: 2px solid transparent;
  transition: border 1s,color 0.2s;

}

.header-tel:focus {
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  outline-offset: 2px;
}

.header-tel:hover {
  color: var(--yellow-color);
}

.header-tel:active {
  color: #A47312;
}

.header-login {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow-color);
  border: 2px solid transparent;
 transition: border 1s,color 0.5s;
 /*transition: ease-in-out;*/
}

.header-login-arrow {
  fill: var(--yellow-color);
  transition: fill 0.5s;
}


.header-login:hover {
  color: #F0BF5F;

}

.header-login:hover .header-login-arrow {
  fill: #F0BF5F;
}


.header-login:focus {
border: solid 1px var(--yellow-color);
}

.header-login:active {
  color: #A47312;
}
.header-login:active .header-login-arrow {
 fill: #A47312;
}


.header__nav {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 70px;
  background-color: var(--white-color);
  border-radius: 15px;
  align-items: center;
}

.nav {
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;

}

.nav__item {
  margin-left: 45px;
transition: color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}

.nav__item:focus {
  color: var(--yellow-color);
outline: 1px solid var(--yellow-color)3;
outline-offset: 2px;

}

.nav__item:hover {
  color: var(--yellow-color);

}

.nav__item:active {
  color: #A47312;
}


.nav__btns {
  margin-right: 65px;
}

.nav__btn {
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  padding: 13px 20px;
  border-radius: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav__btn:focus {
color: #FFFFFF;
background-color: var(--yellow-color);
}

.nav__btn:hover {
  color: #FFFFFF;
  background-color: var(--yellow-color);
}

.nav__btn:active {
  color: #FFFFFF;
 background-color: #A47312;
}

.nav__btn:not(:last-child) {
  margin-right: 80px;
}



/* main */
/*special-offers*/

.special-offers-header {
  padding-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--black-color);
}

.special-offers-blocks {
  margin-bottom: 70px;
}

.special-offers-block-left {
  flex-basis: 50%;
  margin-right: 24px;
  border-radius: 15px;
}

.special-offers-block-right{
  flex-basis: 50%;

}



.special-offers-text1 {
  width: 420px;
}

.special-offers-text1and2 {


  padding-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.special-offers-text3 {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  max-width: 180px;
}


.special-offers-price {
  padding-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.special-offers-price3 {
  padding-bottom: 47px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.8;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF
}


.special-arrow {
 margin-left: 10px;
transition: 2s ;
}


.special-offers-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  width: 27%;
  color: #F0BF5F;
  transition: color 0.2s, border 1s;
}

.special-offers-details:hover .special-arrow {
translate: 20px 0;
}


.special-offers-details:active {
  color: #FFFFFF
}



.special-offers-block1 {
  padding: 40px;
  border-radius: 15px;
margin-bottom: 24px;
background-size: cover;
background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/special-offers-block1.jpg);
position: relative;
}

.special-offers-details:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
width: 100%;
height: 100%;
pointer-events: none;
outline: 1px solid transparent;
transition: outline-color .5s, outline-offset .5s;
}


.special-offers-details:focus:before {
  outline: 2px solid var(--yellow-color);
  outline-offset: 5px;
  border-radius: 5px;
}


.special-offers-block2 {
  padding: 40px;
  border-radius: 15px;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/special-offers-block2.jpg);
}

.special-offers-block3 {
  padding: 212px 0px 0px 45px;
  background-size: cover;
  background-image: url(/img/special-offers-block3.jpg);
  border-radius: 15px;
  position: relative;
}


/* about_us */

.about-us {
  width: 888px;
  margin-bottom: 70px;

}

.about-us-title {
  padding-left: 40px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--black-color);
}

.about-us-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* services */

.services-block {
  padding-top: 26px;
  padding-left: 45px;
  padding-bottom: 35px;
  padding-right: 126px;


}

.services-title {
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--black-color);
}

.services-lists {
  padding-left: 0;
  flex-wrap: wrap;
  margin-bottom: 70px;
}


.services-list:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-list1and2 {
  margin-bottom: 24px;

}

.services-img {
  height: 165px;
  background-image: url(/img/services-img1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  border-radius: 15px 15px 0px 0px;
}

.services-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  align-items: center;
  color: var(--yellow-color);
  transition: color 1s ease-in-out;
}

.services-subtitle:hover {
  color: #F0BF5F;
}

.services-arrow {
margin-left: 10px;
transition: 1s;
}

.services-subtitle:hover .services-arrow {
translate: 10px 0;
}


.services-arrow path {
  stroke: var(--yellow-color);
  transition: stroke 1s;
}

.services-subtitle:hover .services-arrow path {
stroke: #F0BF5F;
}

.services-subtitle:active {
  color: #A47312;
}

.services-subtitle:active .services-arrow path {
  stroke: #A47312;
}

.services-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.services-subtitle-text1 {
  max-height: 30px;
  display: flex;
  align-items: center;

}

.services-list {
  list-style-type: none;
  width: 573px;
  min-height: 330px;
  background-color: #FFFFFF;
  border-radius: 15px 15px;
position: relative;
}

.services-subtitle:before {
 position: absolute;
  display: block;
  content: "";
  top: 0;
  right:  0;
  width: 100%;
  height: 100%;
outline: 2px solid transparent;
transition: outline-color 5s, outline-offset 5s;
}

.services-subtitle:focus:before {
  outline: 2px solid var(--yellow-color);
  outline-offset: 5px;
  border-radius: 15px;
}

/* advantages */

.advantages-title {
  margin-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--black-color);
}

.advantages-list {
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.advantages-blocks {
  list-style: none;
  width: 270px;
  min-height: 276px;
  background: #FFFFFF;
  border-radius: 15px;
}

.advantages-blocks:not(:nth-child(4n)) {
  margin-right: 22px;
}


.advantages-blocks:not(:nth-child(n+5)) {
  margin-bottom: 22px;
}


.advantages-block {
  padding: 40px 42px 32px 45px;
}

.advantages-img {
  margin-bottom: 10px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/*
 acommodation */

.acommodation-title {
  padding-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.acommodation-list {
  flex-wrap: wrap;

  padding-bottom: 70px;

}

.acommodation-blocks {
  list-style: none;
  width: 374px;
  min-height: 440px;
  background: #FFFFFF;
  border-radius: 15px;
}


.acommodation-blocks:not(:nth-child(3n)) {
margin-right: 24px;
}


.acommodation-blocks:not(:nth-child(n+7)) {
  margin-bottom: 24px;
}

.acommodation-block {
  padding: 32px 45px 45px 45px;


}

.acommodation-text-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.acommodation-text-2 {
  padding-left: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.acommodation-text-3 {
  padding-left: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.acommodation-text-common {
  margin-bottom: 16px;
  justify-content: space-between;
}

.acommodation-text-4 {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}


.acommodation-text-5 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.acommodation-btn {
  background-color: #FFFFFF;
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  border-radius: 10px;
  padding: 13px 20px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.acommodation-btn:focus {
color: #FFFFFF;
background-color: var(--yellow-color);
}

.acommodation-btn:hover {
  color: #FFFFFF;
  background-color: var(--yellow-color);
  }

.acommodation-btn:active {
  color: #FFFFFF;
  background-color: #A47312;
    }


.acommodation-img {
  height: 217px;
  border-radius: 15px 15px 0px 0px;
}

.acommodation-img-last {
  height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-image: url(/img/acommodation-img-9.jpg);
  position: relative;

}

.acommodation-text-last::before{
  content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



.acommodation-block-last {
  padding-left: 54px;
  padding-top: 373px;

}

.acommodation-stars {
  justify-content: space-between;
  gap: 6px;
}


.acommodation-text-last {
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
font-size: 20px;
line-height: 200%;
transition: color 2s ease-in-out;
}

.acommodation-arrow {
  fill: transparent;
  margin-left: 10px;
  transition: 2s;
}

.acommodation-arrow path {
  stroke: var(--white-color);
  transition: stroke 2s;
}

.acommodation-text-last:hover .acommodation-arrow {
translate: 10px 0;
}

.acommodation-text-last:hover .acommodation-arrow path {
  stroke: var(--yellow-color);
}

.acommodation-text-last:active .acommodation-arrow path {
  stroke: #A47312;
}

.acommodation-text-last:hover {
  color: var(--yellow-color);
}
  .acommodation-text-last:active {
    color: #A47312;
  }


/* tour */

.tour {
  padding: 45px 40px 45px 45px;
  background-color: #E9E9E9;
  border-radius: 15px;

}

.tour-header {
  padding-bottom: 20px;
  font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #000000;
}

.tour-container {
  padding: 31px 28px 32px 28px;
  background-color: #fff;
  border-radius: 15px;
  justify-content: space-between;
}

.tour-form {
justify-content: space-between;
}

.tour-common {
flex-direction: column;

margin-right: 41px;
}

.tour-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 15px;
}

.tour-select {
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #000000;
border: none;
}

.tour-arrow {
  appearance: none;
  background: transparent;
  background-image: url(/img/tour-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding-right: 26px;
}

.tour-selector {
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #000000;
border: none;
border-bottom: 1px solid #E9E9E9;
width: 121px;
opacity: 3;
}

.tour-btn {
  background-color: #FFFFFF;
  color: var(--yellow-color);
  border-radius: 10px;
  padding: 13px 20px;
 border: 1px solid var(--yellow-color);
 transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.tour-btn:focus {
color: #FFFFFF;
background-color: var(--yellow-color);
}

.tour-btn:hover {
  color: #FFFFFF;
  background-color: var(--yellow-color);
  }

.tour-btn:active {
  color: #FFFFFF;
  background-color: #A47312;
    }

/* tour */

.contacts-title {
  font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #333333;
margin-left: 41px;
margin-right: 20px;

}

.contacts-container {

  background: #FFFFFF;
border-radius: 15px;
margin-bottom: 40px;
padding: 40px;
gap: 40px;

}

.contacts-left {

max-width: 380px;
}

.contacts-lists {
  flex-direction: column;
}



.contacts-list {
  list-style: none;
}

  .contacts-list:not(:last-child) {
 padding-bottom: 23px;
 margin-bottom: 25px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-subtitle {
margin-right: 43px;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #000000;
width: 100px;
}

.contacts-text {
width: 210px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;

}


.contacts-right {
border-radius: 10px;
flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/contacts-right-img.jpg);
background-size: cover;


}


.contacts-tel {
  width: 150px;
  font-weight: 400;
font-size: 16px;
line-height: 150%;

}

.contacts-tel-item {
color: #666666;
border: 2px solid transparent;
transition: border 1s, color 0.2s;
}

.contacts-tel-item:focus {
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  outline-offset: 2px ;

}

.contacts-tel-item:hover {
    color: var(--yellow-color);
  }

.contacts-tel-item:active {
      color: #A47312;
    }


.contacts-email {
  width: 230px ;

}

.contacts-email-item {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
border: 2px solid transparent;
color: var(--yellow-color);
transition: color 0.2s, border 1s;
}

.contacts-email-item:focus {
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  outline-offset: 2px ;
}


.contacts-email-item:hover {
  color: #F0BF5F;
}


.contacts-email-item:active {
  color: #A47312;
}


.contacts-email-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.contacts-btn {
background-color: #FFFFFF;
color: var(--yellow-color);
border-radius: 10px;
padding: 27px;
border: 1px solid var(--yellow-color);
transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


.contacts-btn:focus {
  color: #FFFFFF;
  background-color: var(--yellow-color);
  }

.contacts-btn:hover {
    color: #FFFFFF;
    background-color: var(--yellow-color);
    }

.contacts-btn:active {
    color: #FFFFFF;
    background-color: #A47312;
      }



/* footer */

.footer-container {
  background: #333333;
border-radius: 15px;
flex-direction: row;
margin-bottom: 31px;
padding: 45px;
justify-content: space-between;
background-image: url(/img/footer-img.svg);
background-repeat: no-repeat;
background-position-x: 80%;
background-position-y: bottom;
}

.footer-left {
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
}

.footer-left-block:not(:last-child) {
margin-bottom: 40px;
}

.footer-text {
  font-weight: 400;
font-size: 16px;
line-height: 190%;
color: #FFFFFF;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
color: var(--yellow-color) ;
}


.footer-center {
  flex-direction: column;
  width: 45%;
}

.footer-center-block {
  margin-bottom: 15px;
}

.footer-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: 2px solid transparent;
  color: var(--yellow-color);
  transition: color 0.2s, border 1s;
}

.footer-tel:focus {
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  outline-offset: 2px ;

}

.footer-tel:hover {
    color: var(--yellow-color);
  }

.footer-tel:active {
      color: #A47312;
    }


.footer-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: 2px solid transparent;
  color: var(--yellow-color);
  transition: color 0.2s, border 1s;
}

.footer-email:focus {
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  outline-offset: 2px ;

}

.footer-email:hover {
    color: var(--yellow-color);
  }

.footer-email:active {
      color: #A47312;
    }



.footer-left {

flex-direction: column;
}

.footer-icon {
  list-style: none;
margin-bottom: 20px;


}

.footer-right {
  flex-direction: column;

}




.social-link1 {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
margin-bottom: 20px;
fill: #666666;
transition: fill 1s;
}

.social-link1:focus{
fill: var(--yellow-color);
}

.social-link1:hover {
  fill: var(--yellow-color);
}

.social-link1:active {
  fill: #A47312;
}


.social-link2 {
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #666666;
  transition: fill 1s;
}

.social-link2:focus{
  fill: var(--yellow-color);
  }

  .social-link2:hover {
    fill: var(--yellow-color);
  }

  .social-link2:active {
    fill: #A47312;
  }

.social-link3 {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #666666;
  transition: fill 1s;
}

.social-link3:focus{
  fill: var(--yellow-color);
  }

  .social-link3:hover {
    fill: var(--yellow-color);
  }

  .social-link3:active {
    fill: #A47312;
  }
